/* Mobile */
@media only screen and (max-width: 739px) {
    .m-mb-2 {
        margin-bottom: 2rem !important;
    }
    .m-mt-2 {
        margin-top: 2rem !important;
    }

    .wd80 {
        width: 80%;
        margin: 0 auto;
    }

    body {}

    .navbar {
        position: relative;
        background-color: var(--color-default-2);
        display: block;
        height: 80px;

    }

    .nav-item {
        display: block;
        position: relative;

    }

    .nav-item+.nav-item {
        margin: 1.8rem 1rem;
    }

    .navbar-logo {
        font-size: 3rem;
        padding: 0 10px;
        line-height: 80px;
    }

    .navbar-menu {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        margin-right: 10px;
        line-height: 80px;
        padding: 1rem;
    }

    .menu-icon {
        padding: 0.4rem 1rem;
        border: 1px solid #ccc;
        color: var(--color-default);
        font-size: 3rem;
    }

    .sub-links {
        position: static;
        width: 100%;
    }

    /*  */
    .carousel-indicators li {
        width: 25px;
        height: 25px;
    }

    .carousel-content {
        padding-left: 2rem;
        left: 40%;
        transform: translate(-50%, -40%);
    }

    .carousel-content h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        font-weight: 200;
    }

    .carousel-content p {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

    .infomation {
        justify-content: center;
    }

    .info-img {
        width: 322px;
        height: 322px;
        margin-bottom: 2rem;
        padding: 10px;
    }

    /* Info Content */
    .info-content {
        width: 80%;
    }

    .info-heading {
        font-size: 2.7rem;
        margin-bottom: 2rem;
    }

    .info-description {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        line-height: 2.5rem;
    }

    .contact-item {
        width: 80%;
        margin: 1rem auto;
        padding: 2rem 3rem;
    }

    .services-detail {
        width: 80%;
        margin: 0 auto;
    }
    .text-head {
        font-size: 3rem;
    }
    .text-description {
        font-size: 1.7rem;
    }

    .services-inner {
        margin: 3rem 0;
    }

    .features {
        width: 80%;
        margin: 0 auto;
    }
    .box .box-inner {
        margin: 0;
        height: 100px;
    }
    .box .box-inner .box-numbers {
        font-size: 4rem;
        margin: 1rem 0;
    }
    .table {
        margin: 1rem 0;
    }

    .blog-date {
        width: 80px;
        padding: 1rem;
        bottom: 107px;
    }
    .blog-date span {
        font-size: 1.3rem;
    }
    .blog-date span:last-child {
        font-size: 1.7rem;
    }

}

/* Mobile */
@media only screen and (min-width: 740px) and (max-width:1023px) {}

/* Mobile */
@media only screen and (min-width:1024px) {}